/*
    PluginDraft CSS styles
*/

.guitarnotes {
}

.tactset {
    position: relative;
    display: inline-block;
    margin-top:10px;
    height: 51px;
    border: 1px solid #aaa;
    border-left: 6px solid #aaa;
    border-right: 3px double #aaa;
}
.tactset span {
    position: absolute;
    display: block;
    top: 10px;
    left: 2px;
    width: 4px;
    color: #aaa;
    font-family: Arial;
    font-size: 9px;
    line-height: 8pt;
}
.tactset .tact {
    display: inline-block;
    float: left;
    padding: 0 11px;
    height: 49px;
    border-left: 1px solid #aaa;
    background: linear-gradient(
      to bottom,
      #fff,
      #fff 90%,
      #aaa 90%,
      #aaa
    );
    background-size: 100% 10px;
}
.note {
    position: relative;
    display: inline-block;
    margin: 0 1px;
    height: 49px;
    width: 10px;
}
.notevalue {
    position: absolute;
    display: inline-block;
    margin: 0;
    height: 8px;
    width: 1px;
    background-color: #aaa;
    top: 55px;
    left: 3px;
}
.value-w {} /* whole note */
.value-h {} /* half note */
.value-q {} /* quarter note */
.value-e {} /* eigth note */
.value-s {} /* sixteenth note */

.string {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #234567;
}
.string0 {
    content: "";
    position: absolute;
    width: 8px;
    height: 3px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #aaa;
}
.string0 { top: 23px; }
.string1 { top: -5px; }
.string2 { top: 5px; }
.string3 { top: 15px; }
.string4 { top: 25px; }
.string5 { top: 35px; }
.string6 { top: 45px; }


/* NOTICE message */
.guitarnotes-notice {
    display: table;
    margin: 2px 0;
    border: 1px solid #777;
    background-color: #eee;
}
.guitarnotes-notice div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #777;
    height: inherit;
}
.guitarnotes-notice span {
    display: table-cell;
    padding: 2px 4px;
    color: #777;
}

/* SUCCESS message */
.guitarnotes-success {
    display: table;
    margin: 2px 0;
    border: 1px solid #2a0;
    background-color: #efe;
}
.guitarnotes-success div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #2a0;
    height: inherit;
}
.guitarnotes-success span {
    display: table-cell;
    padding: 2px 4px;
    color: #2a0;
}

/* ERROR message */
.guitarnotes-error {
    display: table;
    margin: 2px 0;
    border: 1px solid #f33;
    background-color: #fee;
}
.guitarnotes-error div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #f33;
    height: inherit;
}
.guitarnotes-error span {
    display: table-cell;
    padding: 2px 4px;
    color: #f33;
}
